/* MenuPage.css */

.menu-container {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .menu-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .search-bar {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    width: 60%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid;
    border-color: #fe8c66;
  }
  
  .loader {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
  }
  
  .meals-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .meal-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    overflow: hidden;
    transition: transform 0.3s;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .meal-card:hover {
    transform: translateY(-10px);
  }
  
  .meal-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .meal-card h2 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
  }
  
  .meal-card p {
    font-size: 0.9rem;
    color: #666;
  }
  /* Styles for the Add to Cart button */
.add-to-cart-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition on hover */
}

.add-to-cart-button:hover {
  background-color: #45a049; /* Darker green background on hover */
}

.fill-heart {
  color: red
}
  